!public/index.html
*.iml
*.jar
.cache
.clerk
.clj-kondo
.cljs_node_repl
.cpcache
.dir-locals.el
.idea
.nrepl-port
.shadow-cljs
.vnodeenv/
.vpyenv/
/demo
/demosci
/target
classes
cljs-test-runner-out
node_modules
out
public/*
